examples/basic-auth-and-list.json
[
    {
        "id": "inject1",
        "type": "inject",
        "z": "flow1",
        "name": "Start Flow",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 100,
        "y": 100,
        "wires": [
            ["auth1"]
        ]
    },
    {
        "id": "auth1",
        "type": "pb-auth",
        "z": "flow1",
        "name": "PocketBase Auth",
        "url": "http://localhost:8090",
        "authCollection": "_superusers",
        "username": "admin",
        "password": "admin123",
        "tokenRefreshSeconds": 3600,
        "autoRefreshOnError": false,
        "x": 280,
        "y": 100,
        "wires": [
            ["list1"]
        ]
    },
    {
        "id": "list1",
        "type": "pb-list",
        "z": "flow1",
        "name": "List Users",
        "collection": "users",
        "page": 1,
        "perPage": 10,
        "filter": "",
        "sort": "-created",
        "expand": "",
        "mode": "items",
        "x": 460,
        "y": 100,
        "wires": [
            ["debug1"]
        ]
    },
    {
        "id": "debug1",
        "type": "debug",
        "z": "flow1",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 100,
        "wires": []
    },
    {
        "id": "comment1",
        "type": "comment",
        "z": "flow1",
        "name": "Basic PocketBase Flow: Auth → List Records → Debug",
        "info": "This example shows:\n1. Authentication with PocketBase\n2. Listing records from 'users' collection\n3. Debugging the results\n\nSetup:\n- Change the URL to your PocketBase instance\n- Update username/password\n- Modify collection name if needed",
        "x": 300,
        "y": 40,
        "wires": []
    }
]