examples/crud-operations.json
[
    {
        "id": "inject1",
        "type": "inject",
        "z": "flow2",
        "name": "Create Record",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"name\":\"Test User\",\"email\":\"test@example.com\"}",
        "payloadType": "json",
        "x": 100,
        "y": 80,
        "wires": [
            ["auth1"]
        ]
    },
    {
        "id": "inject2",
        "type": "inject",
        "z": "flow2",
        "name": "Update Record",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "recordId",
                "v": "your_record_id_here",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"name\":\"Updated User\"}",
        "payloadType": "json",
        "x": 100,
        "y": 200,
        "wires": [
            ["auth2"]
        ]
    },
    {
        "id": "auth1",
        "type": "pb-auth",
        "z": "flow2",
        "name": "Auth for Create",
        "url": "http://localhost:8090",
        "authCollection": "_superusers",
        "username": "admin",
        "password": "admin123",
        "x": 280,
        "y": 80,
        "wires": [
            ["create1"]
        ]
    },
    {
        "id": "auth2",
        "type": "pb-auth",
        "z": "flow2",
        "name": "Auth for Update",
        "url": "http://localhost:8090",
        "authCollection": "_superusers",
        "username": "admin",
        "password": "admin123",
        "x": 280,
        "y": 200,
        "wires": [
            ["update1"]
        ]
    },
    {
        "id": "create1",
        "type": "pb-create",
        "z": "flow2",
        "name": "Create User",
        "collection": "users",
        "expand": "",
        "json": "",
        "x": 460,
        "y": 80,
        "wires": [
            ["debug1"]
        ]
    },
    {
        "id": "update1",
        "type": "pb-update",
        "z": "flow2",
        "name": "Update User",
        "collection": "users",
        "recordId": "",
        "expand": "",
        "json": "",
        "x": 460,
        "y": 200,
        "wires": [
            ["debug2"]
        ]
    },
    {
        "id": "debug1",
        "type": "debug",
        "z": "flow2",
        "name": "Create Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 640,
        "y": 80,
        "wires": []
    },
    {
        "id": "debug2",
        "type": "debug",
        "z": "flow2",
        "name": "Update Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 640,
        "y": 200,
        "wires": []
    },
    {
        "id": "comment1",
        "type": "comment",
        "z": "flow2",
        "name": "CRUD Operations Example",
        "info": "This example demonstrates:\n1. Creating a new record\n2. Updating an existing record\n\nSetup:\n- Update PocketBase URL and credentials\n- Change collection name if needed\n- For update: set recordId in inject node",
        "x": 300,
        "y": 20,
        "wires": []
    }
]