examples/file-upload-download.json
[
    {
        "id": "inject1",
        "type": "inject",
        "z": "flow3",
        "name": "Upload File",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "filename",
                "v": "test.txt",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"title\":\"Document with file\",\"file\":{\"buffer\":\"VGhpcyBpcyBhIHRlc3QgZmlsZQ==\",\"filename\":\"test.txt\",\"mimetype\":\"text/plain\"}}",
        "payloadType": "json",
        "x": 100,
        "y": 80,
        "wires": [
            ["function1"]
        ]
    },
    {
        "id": "inject2",
        "type": "inject",
        "z": "flow3",
        "name": "Download File",
        "props": [
            {
                "p": "collection",
                "v": "documents",
                "vt": "str"
            },
            {
                "p": "recordId",
                "v": "your_record_id_here",
                "vt": "str"
            },
            {
                "p": "filename",
                "v": "test.txt",
                "vt": "str"
            },
            {
                "p": "mode",
                "v": "base64",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 200,
        "wires": [
            ["auth2"]
        ]
    },
    {
        "id": "function1",
        "type": "function",
        "z": "flow3",
        "name": "Convert base64 to Buffer",
        "func": "// Convert base64 string to Buffer for file upload\nif (msg.payload.file && msg.payload.file.buffer) {\n    msg.payload.file.buffer = Buffer.from(msg.payload.file.buffer, 'base64');\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 80,
        "wires": [
            ["auth1"]
        ]
    },
    {
        "id": "auth1",
        "type": "pb-auth",
        "z": "flow3",
        "name": "Auth for Upload",
        "url": "http://localhost:8090",
        "authCollection": "_superusers",
        "username": "admin",
        "password": "admin123",
        "x": 520,
        "y": 80,
        "wires": [
            ["create1"]
        ]
    },
    {
        "id": "auth2",
        "type": "pb-auth",
        "z": "flow3",
        "name": "Auth for Download",
        "url": "http://localhost:8090",
        "authCollection": "_superusers",
        "username": "admin",
        "password": "admin123",
        "x": 280,
        "y": 200,
        "wires": [
            ["download1"]
        ]
    },
    {
        "id": "create1",
        "type": "pb-create",
        "z": "flow3",
        "name": "Upload to Documents",
        "collection": "documents",
        "expand": "",
        "json": "",
        "x": 720,
        "y": 80,
        "wires": [
            ["debug1"]
        ]
    },
    {
        "id": "download1",
        "type": "pb-download",
        "z": "flow3",
        "name": "Download File",
        "collection": "",
        "recordId": "",
        "filename": "",
        "mode": "base64",
        "x": 480,
        "y": 200,
        "wires": [
            ["debug2"]
        ]
    },
    {
        "id": "debug1",
        "type": "debug",
        "z": "flow3",
        "name": "Upload Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 920,
        "y": 80,
        "wires": []
    },
    {
        "id": "debug2",
        "type": "debug",
        "z": "flow3",
        "name": "Download Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 680,
        "y": 200,
        "wires": []
    },
    {
        "id": "comment1",
        "type": "comment",
        "z": "flow3",
        "name": "File Upload & Download Example",
        "info": "This example shows:\n1. Uploading a file to PocketBase\n2. Downloading a file from PocketBase\n\nSetup:\n- Update PocketBase URL and credentials\n- Create a 'documents' collection with a file field\n- For download: set the record ID of an existing record",
        "x": 350,
        "y": 20,
        "wires": []
    }
]